/* @font-face {
    font-family: 'Lato', sans-serif;
    src: url(./assets/fonts/Lato-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url(./assets/fonts/Lato-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url(./assets/fonts/Lato-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url(./assets/fonts/Lato-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url(./assets/fonts/Lato-Black.ttf);
    font-weight: 900;
} */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html{
    font-family: 'Lato', sans-serif;
}

body{
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
}

.container, .containerV2, .containerV3 {
    max-width: 1140px;
    margin: 0 auto;
}

.header-colour{
    background-color: #222;
}

.header{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left{
    display: flex;
    gap: 41px;
}

.header-right{
    display: flex;
    gap: 25px;
}

.basket{
    position: relative;
}

.basket::after{
    position: absolute;
    content: '5';
    top: -10px;
    right: -12px;
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 3px;
}


.intro-colour{
    background-color: #F1E4E6;
}

.intro{
    max-width: 1600px;
    margin: 0 auto; 
    display: flex;
    gap: 64px;
    align-items: center;
}

.intro-title{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.intro-text{
    /* max-width: 377px; */
}

.intro-text-1{
    color: #222;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
}

.intro-text-2{
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}

.intro-text-3{
    color: #F16D7F;
}

.categories-item-big{
    grid-column: span 3;
    max-height: 180px;
}

.categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 65px;
    flex-shrink: 0;
}

.categories-item{
    position: relative;
    cursor: pointer;
}

.categories-item__pic{
    width: 100%;
}

.categories-text{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 22, 22, 0.70);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categories-text-1{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.categories-text-2{
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.fetured-items-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.fetured-items-wrapper{
    margin-top: 96px;
    color: #222;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
}

.fetured-items-wrapper-2{
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.fetured-items-general{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 48px;
}

.fetured-items-one-cell{
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.fetured-items__card{
    position: relative;
    cursor: pointer;
    width: 100%;
}

.fetured-items-img{
    width: 100%;
}

.fetured-items__card:hover::after{
    background-color: rgba(58, 56, 56, 0.86);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fetured-items__card .fetured-items__button{
    position: absolute;
    border: 1px solid #FFF;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 139px;
    height: 44px;
    background-color: inherit;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
} 

.fetured-items__card:hover .fetured-items__button{
    opacity: 1;
}

.fetured-items-content{
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.fetured-items-title{
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

.fetured-items-text{
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
}

.fetured-items-price{
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.button-content{
    margin-top: 48px;
    margin-bottom: 60px;
    padding: 15px 39px;
    border: 2px solid rgba(255, 106, 106, 1);
    background-color: #FFF;
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition: all 0.3s;
}

.button-content:hover{
    background-color: #F26376;
    color: #FFF;

}

.footer-colour{
    background-color: #222224;
}

.benefits{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    gap: 30px;
    margin-top: 95px;
    min-height: 341px;
}

.benefit-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit-title{
    color: #FBFBFB;
    font-size: 19.96px;
    font-weight: 400;
    line-height: normal;
    margin-top: 29px;
}

.benefit-text{
    color: #FBFBFB;
    text-align: center;
    font-size: 13.972px;
    font-weight: 300;
    line-height: normal;
    margin-top: 16px;
    max-width: 360px;
}

.subscribe-general{
    background-image: url("../img/footer/photo_main.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 97px;
    padding-bottom: 126px;
}

.subscribe-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.about-text{
    color: #222224;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    max-width: 360px;
    }


.subscribe-form{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    padding: 0 104px;
}

.subscribe-form__title{
    color: #222224;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 167.2%; 
}

.subscribe-form__text{
    color: #222224;
    font-size: 18px;
    font-weight: 400;
    line-height: 167.2%;
    }

.subscribe-button{
    display: flex;
    padding-top: 20px;
    padding-bottom: 30px;
    height: 49px;
    font-size: 14px;
    font-weight: 400;
}

.subscribe-input__email{
    border: none;
    height: 100%;
    border-radius: 30px 0 0 30px;
    padding-left: 22px;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    background-color: #E1E1E1;
}

.subscribe-button__link{
    border: none;
    width: 100px;
    height: 100%;
    background-color:#F16D7F;
    color: #FFFFFF;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}

.footer-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright{
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.footer-social-icons{
    display: flex;
    gap: 7px;
    padding: 24px 0;
}

.footer-button{
    border: none;
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.45s;

    &:hover{
        background-color: #F16D7F;
    }
}

.social-icon__logo:hover path{
    fill: #FFFFFF
}

.header_down-menu{
    display: none;
    position: fixed;
    top: 75px;
    right: 0;
    background-color: #FFF;
    z-index: 2;
}

.burger:hover .header_down-menu{
    display: block;
}

.menu__title{
    margin-top: 32px;
    margin-left: 33px;
    margin-right: 144px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}

.menu__subtitle{
    margin-top: 20px;
    margin-left: 32px;
    color: #F16D7F;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.menu__man{
    margin-top: 24px;
}

.menu__item{
    margin-top: 11px;
    margin-left: 53.5px;
}

.menu__first-access{
    margin-top: 12px;
}

.menu__last-bag{
    margin-bottom: 32px;
}

.menu__item-link{
    text-decoration: none;
    color: #6F6E6E;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}


@media screen and (max-width: 1439px){
    .container, .containerV2, .containerV3 {
        max-width: 736px;
    }

    .containerV3 {
        max-width: 100%;
        margin-left: 32px ;
        margin-right: 32px;
    }

    .intro{
        gap: 39px;
    }
    
    .intro-text-1{
        font-size: 44px;
    }
    
    .intro-text-2{
        font-size: 24px;
    }
    
    .intro-text-3{
        color: #F16D7F;
    }

    .categories{
        gap: 20px;
    }

    .fetured-items-header{
        gap: 3.5px;
    }
    
    .fetured-items-wrapper{
        margin-top: 110px;
    }

    .fetured-items-general{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
        margin-top: 74px;
    }
    
    .fetured-items-content{
        padding-top: 25px;
        padding-right: 29px;
        padding-bottom: 20px;
        padding-left: 17px;
    }

    .button-content{
        margin-top: 33px;
        margin-bottom: 71px;
    }

    .benefits{
        display: flex;
        flex-direction: column;
        gap: 48px;
        margin-top: 65px;
        padding: 48px 204px;
    }

    .subscribe-general{
        background-image: url("../img/footer/photo_plan.png");
    }

    .subscribe-info{
        flex-direction: column;
        align-items: center;
        padding-top: 64px;
        padding-bottom: 140px;
        gap: 48px;
    }

    .subscribe-form{
        margin-top: 0;
    }

    .subscribe-form__title{
        line-height: 162%; 
    }

    .subscribe-form__text{
        line-height: 162%;
    }

    .subscribe-button{
        padding-bottom: 0;
    }

    .footer-item{
        padding-left: 32px;
        padding-right: 32px;
    }
}


@media screen and (max-width: 767px){
    .container {
        max-width: 100%;
        margin-left: 16px ;
        margin-right: 16px;
    }

    .containerV2{
        max-width: 100%;
        margin-left: 8px ;
        margin-right: 8px;
    }

    .lk{
        display: none;
    }

    .basket{
        display: none;
    }

    .pic_main{
        display: none;
    }

    .intro{
        height: 363px;
        justify-content: center;
    }

    .intro-title{
        align-items: flex-end;
    }

    .intro-text-1{
        font-size: 38px;
    }
    
    .intro-text-2{
        font-size: 20px;
    }

    .categories{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        gap: 32px;
    }

    .categories-item-big{
        grid-column: auto;
        height: 111px;
    }

    .fetured-items-wrapper{
        margin-top: 64px;
    }

    .fetured-items-general{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        margin-top: 65px;
    }

    .button-content{
        margin-top: 40px;
        margin-bottom: 85px;
    }

    .benefits{
        margin-top: 96px;
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding: 48px 13px;
    }

    .subscribe-general{
        background-image: url("../img/footer/photo_mob.png");
        width: 100%;
    }

    .subscribe-info{
        padding-bottom: 110px;
        gap: 59px;
    }
    
    .about-text{
        font-size: 18px;
        width: 343px;
        }

    .subscribe-form{
        gap: 3px;
        padding: 0 50px;
    }      

    .subscribe-form__title{
        line-height: 153.2%; 
    }

    .subscribe-form__text{
        font-size: 14px;
        line-height: 153.2%;
        width: 271px;
    }

    .footer-item{
        padding-top: 43px;
        padding-bottom: 9px;
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
        gap: 40px;
    }

    .footer-copyright{
        order: 1;
    }
    
}